.button {
  font-size: 1.5rem;
  font-family: Rubik, sans-serif;
  font-weight: bold;
  color: black;
  background-color: #206a5d;
  border-radius: 10px;
  height: 50px;
  width: 200px;
  color: white;
  border: none;
  text-decoration: none;
  outline: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0;
}

.outer_div {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label {
  margin: 0;
  padding: 0;
}

select {
  direction: left;
}

.update_button_div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.bio_text {
  width: 450px;
  height: 100px;
  word-break: break-word;
}

textarea {
  width: 100%;
}
.text_area {
  width: 450px;
}
