.Card {
  height: 400px;
  width: 300px;
  border-radius: 10px;
  font-family: Rubik, sans-serif;
  background: #1f4068;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #ebecf1;
}

img {
  border-radius: 50%;
}
.header-text {
  color: #ebecf1;
  font-weight: 600;
  font-size: 1.5em;
}

.image-cropper {
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

.first-line {
  margin: 1em 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.textbox {
  margin: 0 2.5em;
  list-style: none;
}

.textbox li {
  padding: 10px;
}

.hvr-rectangle-out-btn {
  width: 100%;
  color: #ebecf1;
  font-weight: 600;
  font-size: 1.5em;
  font-family: Rubik, sans-serif;
  background-color: transparent;
  border: none;
  text-decoration: none;
  outline: none;
}

.hvr-rectangle-out-btn {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ebecf1;
  border-radius: 0px 0px 10px 10px;

  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out-btn:hover,
.hvr-rectangle-out-btn:focus,
.hvr-rectangle-out-btn:active {
  color: #1f4068;
}
.hvr-rectangle-out-btn:hover:before,
.hvr-rectangle-out-btn:focus:before,
.hvr-rectangle-out-btn:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

button:hover {
  cursor: pointer;
}

.button-div {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin: 0 auto;
  border-top: 5px solid #ebecf1;
}
