.outer_layer {
  display: flex;
  flex-direction: column;
  width: 35vw;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  margin: 10px;
}

.table_header {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid#1f4068;
  background-color: #1f4068;
  border-radius: 5px 5px 0px 0px;
  color: white;
  font-size: 10px;
}

.image_cropper {
  width: 45px;
  height: 45px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.profile_pic {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
  border-radius: 50%;
}
.player_span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.left_container {
  display: flex;
  align-items: center;
  flex-basis: 45%;
}
.mid_container {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-basis: 20%;
}

.right_container {
  flex-basis: 35%;
  display: flex;
  align-items: center;
}
.right_header_container {
  flex-basis: 35%;
  display: flex;
  justify-content: flex-end;
  margin: 4px 10px 4px 0px;
}

.score_item {
  display: flex;
  flex-direction: row;
  flex-basis: 33.33%;
  justify-content: center;
}

.name {
  margin-left: 20px;
}

* {
}

.bold {
  font-weight: bold;
}

.padding_left {
  padding-left: 10px;
}
